body{
    margin: 0;
}

h1{
    margin: 0;
}

h2{
    margin: 0;
    font-weight: normal;
    text-align: center;
}

h3{
    margin: 0;
}
p{
    margin: 0;
    font-weight: normal;
}

img{
    vertical-align: bottom;
}

.container{
    /* background: pink; */
    max-width: 800px;
    margin: 0 auto;
    width: calc(100% - 32px);
    box-sizing: border-box;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    /* background-color: pink; */
    padding: 16px 0;
}

header h1{
    font-size: 0;
}

.logo-pc{
    display: none;
}


.btn{
    display: inline-block;
    background: green;
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.hero{
    background: skyblue url(../img4/bg.png) repeat-x  center bottom ;
    text-align: center;
    padding-top: 64px;
}

.hero .btn{
    margin-top: 64px;
}

.hero div img{
    margin-top: 64px;
}

.features{
    padding: 64px 0;
}

.feature{
    margin-top: 64px;

}

.pic{
    text-align: center;
}

.feature h3{
    margin-top: 16px;
}

.feature p{
    margin-top: 16px;
}


/* footer */
footer{
    background: #333;
    color: white;
    text-align: center;
    padding: 64px 0;
}

small{
    font-size: 14px;
}

/* large screen */


@media (min-width: 600px){
    body{
        /* background-color: pink; */
    }

    .logo-sp{
        display: none;
    }

    .logo-pc{
        display: inline;
    }
/* hero */
    .hero .container{
        display: flex;
        align-items: center;
    }

    .hero .container div{
        flex: 1;
    }

    .hero div img{
        margin: 0;
    }

    /* feature */
    .feature{
        display: flex;
        gap: 32px;
    }

    .pic{
        width: 300px;
    }

    .desc{
        flex: 1;
    }

    .reversed{
        flex-direction: row-reverse;
    }
}